
<% include ./partials/header %>

      <div id="contact-text-area" class="container animated fadeInDown fast mt-5">
        <div class="text-area">
          <form action='/contact' method='POST' >
            <div class="form-group">
              <label>Email address</label>
              <input type="text" name="email" class="form-control" placeholder="name@example.com">
            </div>
            <div class="form-group">
              <label>Subject</label>
              <input type="text" name="subject" class="form-control">
            </div>
            <div class="form-group">
              <label>Enter message</label>
              <textarea class="form-control" name="content" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-dark">Submit</button>
          </form>
          <p class="mt-4">Or alternatively email me at: hrithik7132@gmail.com </p>
        </div>
      </div>


      
<% include ./partials/footer %>
