
<% include partials/header %>

      <div id="main-text-area" class="container animated fadeInDown fast">
        <div class="text-area mb-5">
          <h1 class="text-header mb-0 pt-4"> Hrithik Lacximicant </h1>
          <p class="text-subheading">Welcome to my portfolio</p>
          <div class="text">
            <p> I have been doing a couple of courses on programming languages like Java, Golang and Javascript for a couple of years and I have finally decided to do some web development freelancing.
                Ever since I was young, I have been inclined to technology, especially on how it can be manipulated through its fundamental components. Due to this ongoing curiousity, I have decided to start trying to making a career out of it.
            </p>
            <p> I graduated from Farnborough Sixth Form college last year with high grades and I will be heading off to University to study Computer Science this year. Recently I have been doing a lot of
                web development coding and it has been very enjoyable which I have made my side hobby. I may pursue it as a career if it becomes prosperous. </p> 
          <p class="text-subheading">Showcase of my programming ability</p>
          <p> My areas of expertise with web development is in creating full-stack web servers using NodeJS backend technology and MongoDB for the database. One of the projects I had done was a
              book manager website which allows users to store reviews of different books to which is then automatically saved to an online database. The website uses authentication, authorisation and session
              checks to make sure that the data is reliably accessed and modified by the correct user. You can see my recent web development work <a href="/work"> here </a> </p>
          <p> Outside of web development I have worked with programming languages like Java and GoLang. Java was the first ever official programming language I learnt and I used it in my A-level Comp Sci coursework to create
              an assignments planner which stores assignments that users have to complete locally on their machine. The coursework used SQLite as the data storage which helped me grasp and consolidate my SQL skills. I received high marks and made
              this application in less than a week, which can be found in my GitHub. </p>
          <p class="text-subheading">To conclude </p>
          <p> I am hoping to find some sort of monetary or voluntary job that can help me progress further in web development or possibly any other area of Computer Science.</p>
          <p class="text-subheading"> For any business related enquiries contact me <a href="/contact"> here </a>  </p>
          <p class="card-text"><small class="text-muted">Last updated 16/04/2019</small></p>
          </div>
        </div>
      </div>

      
<% include partials/footer %>
