
<% include partials/header %>

      <div id="main-text-area" class="container animated fadeInDown fast">
        <div class="text-area mb-5">
          <h1 class="text-header mb-0 pt-4"> Hrithik Lacximicant </h1>
          <p class="text-subheading">Welcome to my portfolio</p>
          <div class="text">
            <p> I have been doing a couple of courses on learning programming languages such as Java and Javascript for a couple of years and I have finally decided to try something different by doing some web development freelancing.
                Ever since I was a teenager, I have been inclined to technology, especially on how it can be manipulated through its fundamental components. Due to this ongoing curiosity, I have decided on building a career in computer science.
            </p>
            <p> I graduated from Farnborough Sixth Form college last year with high grades and I will be heading off to University to study Computer Science this year. Recently I have been doing a lot of
                web development coding, which has been very enjoyable and It is currently my side hobby. If it becomes prosperous, I may pursue a web development career. </p> 
          <p class="text-subheading">Showcase of my programming ability</p>
          <p> My areas of expertise within web development is in creating full-stack web servers using NodeJS backend technology, MongoDB for the database or React.js frontend. Using NodeJS for backend helps me create code a lot faster because of having experience with the syntax. One of the projects I had created
              with NodeJS was a book manager website which allows users to store reviews of different books to an online database through an html graphical interface. With the html interface, I used different libraries and modified them in my own css stylesheet to personalise it to my needs. For web security, I made sure the website utilizes tools like authentication, authorisation, sessions, email verification and Google's reCAPTCHA
              checks to make sure that the data is reliably accessed and modified by the correct user. My recent web development work can be seen <a href="/work"> on this link</a>. </p>
          <p> Outside of web development, I have worked with programming languages like Java and GoLang. Java was the first programming language I had learnt and I used it in my A-level Comp Sci coursework to create
              an assignments planner which essentially stores assignments that users have to complete locally on their machine. The coursework used SQLite as the data storage which helped me grasp and consolidate my SQL skills. I received high marks at the end of the coursework and made
              this application in less than a week, which can be found in my <a href="http://github.com/ritz07">GitHub</a>. For GoLang, I've learnt advanced topics like Channels and Go Routines but I have yet to do a proper project with it. </p>
          <p class="text-subheading">To conclude </p>
          <p> I am hoping to find some sort of monetary or voluntary job that can help me progress further in web development.</p>
          <p class="text-subheading"> For any business related enquiries contact me <a href="/contact"> here </a>  </p>
          <p class="card-text"><small class="text-muted">Last updated 20/04/2019</small></p>
          </div>
        </div>
      </div>

      
<% include partials/footer %>
