
<% include partials/header %>

      <div id="main-text-area" class="container animated fadeInDown fast">
        <div class="text-area mb-5">
          <h1 class="text-header mb-0 pt-4"> Hrithik Lacximicant </h1>
          <p class="text-subheading">Welcome to my portfolio</p>
          <div class="text">
            <p> I have been doing a couple of courses with programming languages like Java, Golang and Javascript for a couple of years and I have finally decided to start a web development occupation.
                Ever since I was young, I have been inclined to technology, especially on how it can be manipulated through its fundamental components. I've taken this inclination forwarded and decided to start making a career out of it.
            </p>
            <p> I've graduated from Farnborough Sixth Form college last year with very high grades and I will be heading off to University to study Computer Science. Recently I have been doing a lot of
                web development coding and it has been very enjoyable and therefore I've decided to start developing web apps as a side hobby which I may pursue as a career if it becomes prosperous. </p> 
          <p class="text-subheading">Showcase of my programming ability</p>
          <p> My areas of expertise with web development is in creating full-stack web servers using NodeJS backend technology and MongoDB for the database. One of the projects I had done was a
              book manager website which allows a number of users to store reviews of books which is then automatically saved to an online database. The website uses authenatication, authorisation and session
              checks to make sure that the data is reliably accessed and modified by the correct user. You can see my recent web development work <a href="/work"> here </a> </p>
          <p> Outside of web development I have worked with programming languages like Java and GoLang. Java was the first ever official programming language I learnt and I used it in my A-level Comp Sci coursework to create
              an assignments planner which stores assignments users have to complete locally on their machine. This coursework used SQLite as the data storage which helped me grasp and consolidate my SQL skills. The coursework can be found in my GitHub repository. 
              In this coursework, I received one of the best marks in the entire year and managed to create a fully working application in less than a week. </p>
          <p class="text-subheading">To conclude </p>
          <p> I am hoping to find some sort of monetary or voluntary job that can help me progress further in web development or possibly any other area of computer science so that I can build
              a relevant CV out of it. </p>
          <p class="text-subheading"> If you'd like to contact me please <a href="/contact"> click here </a>  </p>
          <p class="card-text"><small class="text-muted">Last updated 16/04/2019</small></p>
          </div>
        </div>
      </div>

      
<% include partials/footer %>
