
<% include partials/header %>

      <div id="main-text-area" class="container animated fadeInDown fast">
        <div class="text-area mb-2">
          <h1 class="text-header mb-0 pt-4"> Hrithik Lacximicant </h1>
          <p class="text-subheading">Welcome to my portfolio</p>
          <div class="text">
            <p> I have been doing a couple of courses in programming languages like Java, Golang and javascript for a couple of years and I have decided to start a web development occupation.
                Ever since I was young, I have been inclined to technology, especially how it works fundamentally. I've taken this inclination forwarded and decided to start making a career out of it.
            </p>
            <p> I've currently graduated from Farnborough Sixth Form college last year with high grades and I will be heading off to university to study Computer Science. Recently I have been doing a lot of
                web development coding and it has been very enjoyable. I am keeping this web development occupation as a side hobby which I may take as a full on career depending on how prosperous it becomes </p> 
          <p class="text-subheading">Showcase of my programming ability</p>
          <p> My areas of expertise in web development is in creating websites full-stack with NodeJS backend programming language and MongoDB as the database as of currently. I have done a couple of small projects like for example
              a book manager website that allows users to store the books they have read on their account which automatically saves it to the MongoDB server. The website uses authenatication, authorisation and session
              checks to make sure that the data is reliably accessed and modified by the correct user. You can see some of my work <a href="/work"> here </a> </p>
          <p> Outside of web development I have worked with programming languages like Java and GoLang. Java was the first ever official programming language I learnt and I used it in my coursework during my A-levels to create
              a assignments planner that is used for a group of individuals to a local storage database (SQLite). This coursework helped me grasp and consolidate my SQL skills. The coursework can be found in my GitHub repository. 
              In this coursework, I received one of the best marks in the entire year and managed to create a fully working application in less than a week. </p>
          <p class="text-subheading">To conclude </p>
          <p> I am hoping to find some sort of monetary or voluntary job that can help me progress further in web development especially or any other area of computer science so that I can build
              a relevant CV out of it </p>
          <p class="text-subheading"> If you'd like to contact me please <a href="/contact"> click here </a> or navigate above or below </p>
          </div>
        </div>
      </div>

      
<% include partials/footer %>
