
<% include partials/header %>

      <div class="container animated fadeInDown fast">
        <img id="me" src="../stylesheets/me.jpg" class="border-dark mt-4 float-right img-thumbnail ">
        <div class="jumbotron">
          
          <h1 class="display-4">Welcome to my website!</h1>
          <p class="lead">A self-taught freelance full stack web-developer</p>
          <hr class="my-3">
          <a class="btn btn-dark btn-lg button text-muted" href="/profile" role="button">Read more about me here</a> 

        </div>
      </div>
      
<% include partials/footer %>
