
<% include ./partials/header %>

      <div id="work-text-area" class="container animated fadeInDown fast mt-5">
        <div class="text-area mb-3">
          <div class="row">
            <div class="col-12">
              <a class="work-hyperlinks" href="https://lacximicant-bookslist.herokuapp.com/ ">
                <div class="card text-white bg-dark">
                  <img class="card-img-top" src="../stylesheets/dbooks.jpg" alt="">
                    <div class="card-body">
                      <h5 class="card-title">dBooks list</h5>
                      <p class="card-text">An online place to store a collection of books for a registered user</p>
                      
                      <p class="card-Text"><U>Added features – 20/04/19</u></p>
                      <ul>
                        <li>reCAPTCHA service added when creating an account</li>
                        <li>Email Verification added when creating an account</li>
                        <li>Updated styling when viewing on devices with small-medium screens</li>
                      </ul>
                      <p class="card-text"><u>Bug fixes</u></p>
                      <ul>
                        <li>Auto login bug after registration – 24/04/19</li>
                      </ul>
                      <p class="card-text text-muted mb-0"> Click on the image to load the website </p>
                      <p class="card-text mt-0"><small class="text-muted">Created on 31/03/19</small></p>
                    </div>
                </div>
              </a>
              </div>
            </div>
          </div>

        </div>
      </div>
      
<% include ./partials/footer %>
