
<% include ./partials/header %>

      <div id="work-text-area" class="container animated fadeInDown fast mt-5">
        <div class="text-area mb-3">
          <div class="row">
            <div class="col-12">
              <a class="work-hyperlinks" href="https://lacximicant-bookslist.herokuapp.com/ ">
                <div class="card text-white bg-dark">
                  <img class="card-img-top" src="../stylesheets/dbooks.jpg" alt="">
                    <div class="card-body">
                      <h5 class="card-title">dBooks list</h5>
                      <p class="card-text">An online place to store a collection of books for an individual user.</p>
                      <p class="card-text"> Press image to view site </p>
                      <p class="card-text"><small class="text-muted">Created on 31/03/19</small></p>
                    </div>
                </div>
              </a>
              </div>
            </div>
          </div>

        </div>
      </div>
      
<% include ./partials/footer %>
